{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl" class="rtl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>پنل بسیج</title>

    <!-- vendor css -->
    <link href="{% static 'lib/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/spinkit/css/spinkit.css' %}" rel="stylesheet">
    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{% static 'css/bracket.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block css %}

    {% endblock %}
  </head>

  <body>
    <!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo"><a href=""><span></span>پنل <i>بسیج</i><span></span></a></div>
    <div class="br-sideleft sideleft-scrollbar">
      <label class="sidebar-label pd-x-10 mg-t-20 op-3">بروبه</label>
      <ul class="br-sideleft-menu">
        <li class="br-menu-item">
          <a href="{% url 'main-page' %}" class="br-menu-link">
            <i class="menu-item-icon icon ion-android-chat tx-24"></i>
            <span class="menu-item-label">صفحه اصلی</span>
          </a><!-- br-menu-link -->
        </li><!-- br-menu-item -->
        <li class="br-menu-item">
          <a href="{% url 'user-page' %}" class="br-menu-link">
            <i class="menu-item-icon icon ion-ios-contact tx-24"></i>
            <span class="menu-item-label">کاربران</span>
          </a><!-- br-menu-link -->
        </li><!-- br-menu-item -->
{#        <li class="br-menu-item">#}
{#          <a href="#" class="br-menu-link with-sub">#}
{#            <i class="menu-item-icon icon ion-ios-photos-outline tx-20"></i>#}
{#            <span class="menu-item-label">Cards &amp; Widgets</span>#}
{#          </a><!-- br-menu-link -->#}
{#          <ul class="br-menu-sub">#}
{#            <li class="sub-item"><a href="card-dashboard.html" class="sub-link">Dashboard</a></li>#}
{#            <li class="sub-item"><a href="card-social.html" class="sub-link">Blog &amp; Social Media</a></li>#}
{#            <li class="sub-item"><a href="card-listing.html" class="sub-link">Shop &amp; Listing</a></li>#}
{#          </ul>#}
{#        </li>#}
      </ul><!-- br-sideleft-menu -->
      <br>
    </div><!-- br-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header">
      <div class="br-header-left">
        <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
        <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
      </div><!-- br-header-left -->
      <div class="br-header-right">
        <nav class="nav">
          <div class="dropdown">
            <a href="" class="nav-link pd-x-7 pos-relative" data-toggle="dropdown">
              <i class="icon ion-ios-email-outline tx-24"></i>
              <!-- start: if statement -->
              <span class="square-8 bg-danger pos-absolute t-15 r-0 rounded-circle"></span>
              <!-- end: if statement -->
            </a>
            <div class="dropdown-menu dropdown-menu-header">
              <div class="dropdown-menu-label">
                <label>پیام ها</label>
                <a href="">+ ارسال پیام جدید</a>
              </div><!-- d-flex -->

              <div class="media-list ">
                <!-- loop starts here -->
                <a href="" class="media-list-link">
                  <div class="media">
                    <img src="https://via.placeholder.com/500" alt="">
                    <div class="media-body">
                      <div>
                        <p>سیدمحمدحسین</p>
                        <span>دو دقیقه قبل</span>
                      </div><!-- d-flex -->
                      <p>یک پیام بسیار خوب که شما هم میتوانید با استفاده آن به جای جای ایران بزرگ دسترسی داشته باشید</p>
                    </div>
                  </div><!-- media -->
                </a>
                <a href="" class="media-list-link read">
                  <div class="media">
                    <img src="https://via.placeholder.com/500" alt="">
                    <div class="media-body">
                      <div>
                        <p>سیدمحمدحسین</p>
                        <span>دو دقیقه قبل</span>
                      </div><!-- d-flex -->
                      <p>یک پیام بسیار خوب که شما هم میتوانید با استفاده آن به جای جای ایران بزرگ دسترسی داشته باشید</p>
                    </div>
                  </div><!-- media -->
                </a>
                <div class="dropdown-footer">
                  <a href=""><i class="fa fa-angle-down"></i> نمایش تمام پیام ها</a>
                </div>
              </div><!-- media-list -->
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
          <div class="dropdown">
            <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
              <span class="logged-name hidden-md-down">{{ request.user.first_name|default:request.user.username }}</span>
              <img src="{% if request.user.avatar %}{{request.user.avatar.url}}{% endif %}" class="wd-32 rounded-circle" alt="">
              <span class="square-10 bg-success"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-header wd-250">
              <div class="tx-center">
                <a href=""><img src="{% if request.user.avatar %}{{request.user.avatar.url}}{% endif %}" class="wd-80 rounded-circle" alt=""></a>
                <h6 class="logged-fullname">{{ request.user.get_full_name|default:request.user.username }}</h6>
                <p>{{request.user.username}}</p>
              </div>
              <hr>
              <ul class="list-unstyled user-profile-nav">
                <li><a href="{% url 'logout' %}"><i class="icon ion-power"></i> خروج</a></li>
              </ul>
            </div><!-- dropdown-menu -->
          </div><!-- dropdown -->
        </nav>
      </div><!-- br-header-right -->
    </div><!-- br-header -->
    <!-- ########## END: HEAD PANEL ########## -->


    <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
      <div class="br-pagebody mt-0 p-0">
        {% block context %}
        {% endblock %}
      </div><!-- br-pagebody -->
    </div><!-- br-mainpanel -->



    <!-- ########## END: MAIN PANEL ########## -->

    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/jquery-ui/ui/widgets/datepicker.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'lib/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'lib/peity/jquery.peity.min.js' %}"></script>

    <script src="{% static 'js/bracket.js' %}"></script>
    {% block scripts %}
    
    {% endblock %}

    <script>
        $(document).ready(function () {
            $('#btnLeftMenu').click();
        });
    </script>
  </body>
</html>
