{% extends 'pages/master.html' %}
{% load static %}

{% block context %}
	<style>
		.context-menu a {
			transition: all 0.5s;
			color: black !important;
		}

		.context-menu a:hover {
			background-color: #0C9A9A;
			color: white !important;
		}

		.is-not-sender {
			text-align: left !important;
			direction: ltr !important;
		}

		.is-not-sender img {
			margin-left: 0;
			margin-right: 20px;
		}

		.is-not-sender .chat-holder {
			text-align: right;
			direction: rtl;
		}

		.chat-part {
			transition: background-color 1s ease-in-out;
		}

		.forward .chat-part {
			background-color: #ef6d10;
		}

		.chat-holder {
			padding-bottom: 1px !important;
		}

		.chat-holder .chat-time-container {
			display: block;
			width: 100%;
			margin-top: 10px;
			text-align: right;
		}

		.chat-holder .chat-time {
			font-size: 10px;
			margin: 0 0 0 5px !important;
		}

		.chat-holder .check-container {
			display: inline;
			position: relative;
			font-size: 10px;
			margin: 0 0 0 5px !important;
		}

		.chat-holder .check-container i {
			position: absolute;
			text-shadow: 0 0 5px white;
			top: 1px;
			left: -7px;
		}

		.chat-holder .check-container i:last-child {
			left: -12px;
		}

		.chat-holder.not-read .check-container i:last-child {
			color: white;
		}
		.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
		  transition: .2s linear left;
		  /* maybe other vendor-prefixed transitions */
		}
		.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
		  transition: .2s linear top;
		  /* maybe other vendor-prefixed transitions */
		}
	.badge {
		font-family: "Fira Sans", "Helvetica Neue", Arial, sans-serif
	}
</style>
	<div  id="app" @keyup.esc="clearChat">
		<!-- Choose Chat Modal -->
		<div id="modaldemo1" class="modal fade">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content bd-0 tx-14">
					<div class="modal-header pd-y-20 pd-x-25">
						<h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">یکی از کاربران را انتخاب کنید</h6>
						<button type="button" class="close" style="float: right;margin: -1rem auto -1rem -1rem;"
								data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body p-0 tx-right">
						<div class="card widget-5">
							<div class="list-group list-group-flush modal-users-list-view">
								{% include 'components/spinner.html' %}

								<p v-if="chatCandidateUsers.length == 0 && !loadingNewChatCandidateUsers"
								style="text-align: center;margin-top: 15px;">کاربری موجو نمیباشد</p>

								<a v-if="chatCandidateUsers.length > 0 && !loadingNewChatCandidateUsers"
								   v-for="user in chatCandidateUsers" v-bind:key="user.id"
								   v-on:click.prevent="clearChat();chattingWith=user;closeNewChatModal()"
								   href="" class="list-group-item list-group-item-action media">
									<img v-bind:src="user.avatar ? user.avatar : defaultImagePath" alt="">
									{% verbatim %}
										<div class="media-body">
											<div class="msg-top">
												<span class="name-holder">{{user.first_name}} {{user.last_name}}</span>
												<span class="time-holder">{{user.username}}</span>
											</div>
											<p class="msg-summary"></p>
										</div>
									{% endverbatim %}
								</a>
							</div><!-- list-group -->
						</div>
					</div>
					<div class="modal-footer">
						<button type="button"
								class="btn ir-font btn-secondary tx-12 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-l-0 mg-r-5"
								data-dismiss="modal">بستن
						</button>
					</div>
				</div>
			</div><!-- modal-dialog -->
		</div><!-- modal -->
		<!-- Message Options Modal -->
		<div id="modaldemo2" class="modal fade">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content bd-0 tx-14">
					<div class="modal-header pd-y-20 pd-x-25">
						<h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">عملیات پیام</h6>
						<button type="button" class="close" style="float: right;margin: -1rem auto -1rem -1rem;"
								data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body context-menu modal-context-menu p-0 tx-right">
						<a class="btn" v-if="messageToOption && messageToOption.from_user.id == me.id" style="width: 100%;" @click.prevent="deleteMessage">حذف پیام</a>
						<a class="btn" @click.prevent="forwardingMessage" style="width: 100%;">ارسال به فرد دیگری</a>
						<a class="btn" v-if="messageToOption && messageToOption.from_user.id == me.id" style="width: 100%;" @click.prevent="editMessageView">ویرایش پیام</a>
					</div>
					<div class="modal-footer">
						<button type="button"
								class="btn ir-font btn-secondary tx-12 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-medium mg-l-0 mg-r-5"
								data-dismiss="modal">بستن
						</button>
					</div>
				</div>
			</div><!-- modal-dialog -->
		</div><!-- modal -->
		{% for field,error in form.errors.items %}
			<div class="alert alert-danger">{{ error.0 }}</div>
		{% endfor %}
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-success">{{ message }}</div>
			{% endfor %}
		{% endif %}
		<div class="col-12">
			<div class="row row-sm mg-t-20">
				<div class="col-lg-5 col-xl-4">
					<div class="card widget-5 chat-part">
						<div class="card-header">
                        <span>پیام ها</span>
						<a href=""
						   data-toggle="modal"
						   v-on:click="getPossibleChatCandidates"
						   data-target="#modaldemo1">ارسال پیام جدید</a>
						</div><!-- card-header -->
						<div class="list-group list-group-flush sidebar-users-list-view" data-cu-id="{{ request.user.id }}">
							<p v-if="chatUsers.length == 0"
							   style="text-align: center;margin-top: 15px;">هنوز هیچ مکالمه آغاز نشده است</p>

							<a v-if="chatUsers.length > 0"
							   v-for="chat in chatUsers" v-bind:key="chat.id"
							   v-on:click.prevent="getChatMessages(false,chat);"
							   class="list-group-item list-group-item-action media">
								<img v-bind:src="chat.user.avatar ? chat.user.avatar : defaultImagePath" alt="">
								{% verbatim %}
								<div class="media-body">
									<span v-if="chat.new_messages > 0" class="badge badge-danger"
										  style="position: absolute;bottom: 12px;left:20px;font-size: 13px;">
										{{chat.new_messages}}</span>
									<div class="msg-top">
										<span class="name-holder">{{chat.user.first_name}} {{chat.user.last_name}}</span>
										<span class="time-holder">{{chat.user.username}}</span>
									</div>
									<p class="msg-summary">{{chat.last_message_text}}</p>
								</div>
								{% endverbatim %}
							</a>
						</div><!-- list-group -->
						{#                <div class="card-footer">#}
						{#                    <a href="" class="tx-12"><i class="fa fa-angle-down mg-r-3"></i> پیام های بیشتر</a>#}
						{#                </div><!-- card-footer -->#}
					</div><!-- card -->
				</div><!-- col-4 -->
				<div class="col-lg-7 col-xl-8 mg-t-20 mg-lg-t-0">
					<div class="card widget-6">
						<div class="card-header p-2" ref="headerCard">
							<div class="media align-items-center">
								<img v-bind:src="chattingWith ? chattingWith.avatar:'{% static 'img/logo.png' %}'" id="to_chat_pic"
									 class="wd-50 rounded-circle d-flex mg-l-10 mg-xs-l-15 align-self-start" alt="">
								<div class="media-body">
							{% verbatim %}
                            <span class="d-block tx-medium tx-inverse"
								  id="to_chat_name">{{ chattingWith ? chattingWith.first_name + ' ' + chattingWith.last_name: 'یکی از چت هارا انتخاب کنید'}}</span>
							{% endverbatim %}
									{#                            <span class="tx-12" id="to_chat_status">فعال است</span>#}
								</div><!-- media-body -->
							</div><!-- media -->
							<span class="tx-12"></span>
							</span>
						</div><!-- card-header -->
						<div class="card-body pd-25" style="position: relative">
							<div v-if="forwarding" style="position:absolute;background-color: rgba(0,0,0,.5);width: 100%;height: 100%;top: 0;left: 0;z-index: 9999;"></div>
							<div class="media-list messages-container" >
								<div class="col-12 text-center">
									<button
											v-if="chatsBellow.length != 0 && chattingWith && currentChat"
											v-on:click="getChatMessages(true)" class="btn btn-primary btn-sm" id="get-older"
									ref="olderMessages">گرفتن پیام های قدیمی تر
									</button>
									<p v-if="chatsBellow.length == 0 && chattingWith && currentChat" class="mt-5">هنوز پیامی ارسال نشده است</p>
								</div>
								<div class="the-messages media mg-t-20"
									 v-bind:class="{'is-not-sender': chatPart[0] && chatPart[0].from_user.id != me.id}"
									 v-for="chatPart in chatsBellow">
									<img  v-bind:src="chatPart[0] && chatPart[0].from_user.avatar ? chatPart[0].from_user.avatar : 'https://via.placeholder.com/500'"
										  class="user-image-holder wd-36 rounded-circle mg-l-20" alt="">
									<div class="media-body tx-12">
										{% verbatim %}
										<div class="the-message-container mt-2"  v-for="message in chatPart" @dblclick="messageOptions(message)" v-bind:message_id="message.id">
											<i v-if="message.forwarded_at" class="fa fa-recycle" style="font-size: 10px"></i>
											<div class="chat-holder" style="min-width: 150px;"
												 v-bind:class="[message && message.from_user.id != me.id ? 'chat-1':'chat-2', message && !message.seen ? 'not-read' :'']">
												<p class="mb-0">{{ message.text }}</p>
												<div v-html="filePreview(message)"></div>
												<div class="chat-time-container">
													<span class="chat-time" style="direction: rtl">
														{{ printDate(message.updated_at) }}
													</span>
													<div class="check-container">
														<i class="fas fa-check"></i>
														<i class="fas fa-check"></i>
													</div>
												</div>
											</div>
										</div>
										{% endverbatim %}
									</div>
								</div>
								<p v-if="!chattingWith" class="text-center the-messages">یکی از پیام ها را انتخاب کنید</p>
							</div><!-- media-list -->
						</div><!-- card-body -->
						<div class="card-footer">
							<div class="media">
								<img src="{% if request.user.avatar %}
{{ request.user.avatar.url }}{% else %}
{% static 'img/logo.png' %}{% endif %}"
									 class="wd-36 rounded-circle mg-l-20" alt="">
								<div class="media-body">
                            <textarea id="message-input" ref="textMessage"
											v-on:keyup.enter="sendMessage" type="text" class="form-control tx-12"
									  placeholder="پیام خودرا بنویسید"></textarea>
									{% verbatim %}
									<button type="button" id="send-message-button"
											v-on:click.prevent="sendMessage"
											class="btn btn-primary btn-sm mt-2 float-left">
										{{ messageToOption ? 'ویرایش پیام':'ارسال پیام' }}
									</button>
									<input type="file" style="display: none;" ref="file-to-send" multiple  @change="files=$refs['file-to-send'].files.length"/>
									<a style="margin-left: 10px;" @click.prevent="$refs['file-to-send'].click();"
											class="btn btn-primary text-white btn-sm mt-2 float-left">انتخاب فایل

									</a>
									<a  v-if="files > 0" style="margin-left: 10px;" @click.prevent="$refs['file-to-send'].value='';files=0"
											class="btn btn-warning text-white btn-sm mt-2 float-left">حذف فایل های انتخاب شده
										<span class="badge badge-danger" style="font-size: 10px;">{{files}}</span>
									</a>

									{% endverbatim %}
								</div><!-- media-body -->
							</div><!-- media -->
						</div><!-- card-footer -->
					</div><!-- card -->
				</div><!-- col-8 -->
			</div>
		</div>
		{% csrf_token %}</div>
{% endblock %}
{% block scripts %}
	<script src="{% static 'lib/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
	<script src="{% static 'js/vue.js' %}"></script>
	<script type="text/javascript">
        var ps = null;

		var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        var app = new Vue({
            el: '#app',
            data: {
                me: null,
				loadingNewChatCandidateUsers: false,
				chatCandidateUsers: [],
				chatUsers: [],
				defaultImagePath: "{% static 'img/logo.png' %}",
				chattingWith: null,
				chatsAbove: [],
                lastChatAbove: null,
				currentChat:null,
				chatsBellow: [],
                lastChatBellow: null,
                intervalId: null,
				messageToOption: null,
				forwarding: false,
				autoOlder: false,
				wroteNewMessage: false,
				files: 0,
            },
			mounted: function() {
                this.getMe(() => {
					this.getUserChats(null);
				});
                this.intervalId = setInterval(() => {
                    if (this.currentChat)
                    	this.getChatMessages(false,null,true);
				}, 1000);
                this.intervalId = setInterval(() => {
                    if (this.currentChat)
                    	this.applySeen();
				}, 2000);
                this.intervalId = setInterval(() => {
					this.getUserChats();
				}, 2000);
                this.intervalId = setInterval(() => {
                    if(this.$refs.olderMessages && !this.autoOlder){
                        var elem = this.$refs.olderMessages;
						if (elem.getBoundingClientRect().y > 95) {
						    this.getChatMessages(true);
						}
					}
				}, 1000);
			},
            methods: {
                filesChange: function(event) {
                    this.files = event.target.files.length;
                },
                getMe: function(done) {
                    $.ajax("{% url 'user-me' %}",{
						method: 'post',
						data: {
							csrfmiddlewaretoken: csrftoken,
						}
					}).done((e) => {
					    this.me = e;
					    if (done)
					        done();
					});
				},
                getPossibleChatCandidates: function(event) {
					this.loadingNewChatCandidateUsers = true;
					$.ajax('{% url 'user-show-endpoint' %}', {
						method: 'post',
						data: {
							csrfmiddlewaretoken: csrftoken,
						}
					}).done((e) => {
					    this.loadingNewChatCandidateUsers = false;
					    this.chatCandidateUsers = e.data;
					});
                },
				closeNewChatModal: function() {
                    $.ajax('{% url 'chat-start-endpoint' %}', {
						method: 'post',
						data: {
							csrfmiddlewaretoken: csrftoken,
							ru: this.chattingWith.id,
						}
					}).done((e) => {
					    this.currentChat = e.data.chat;
					    this.getUserChats();
					});
                    this.currentChat = null;
                    if(ps)
                      ps.update();
                    $('#modaldemo1').modal('hide');
				},
				_setChatUser: function(chat) {

                    if (chat['user'])
                        return chat;

                    if (chat.from_user.id == this.me.id)
						chat['user'] = chat.to_user;
					else
						chat['user'] = chat.from_user;
                  return chat
                },
				applySeen: function() {
                    $.ajax('{% url 'message-seen-endpoint' %}', {
                        method: 'post',
                        data: {
                            csrfmiddlewaretoken: csrftoken,
							ci: this.currentChat.id,
                        }
                    }).done((e) => {
                        for(var seenIndex in e.data) {
                            var seen = e.data[seenIndex];
                            if (seen.seen) {
                                var message = document.querySelector('[message_id="'+seen.id+'"] .chat-holder');
                                if (message)
                                    message.classList.remove('not-read');
							}
						}
					});
				},
                getUserChats: function (event) {
                    if (!this.me){
                        alert('لطفاً صفحه را بروز رسانی کنید و یا اینکه دوباره وارد سامانه شوید');
                        return;
                    }
                    $.ajax('{% url 'chat-show-endpoint' %}', {
                        method: 'post',
                        data: {
                            csrfmiddlewaretoken: csrftoken,
                        }
                    }).done((e) => {
                        for (var user_index in e.data) {
                            e.data[user_index] = this._setChatUser(e.data[user_index]);
						}
                        this.chatUsers = e.data;
                    });
                },
				clearChat: function(event) {
                    console.log(event);
                    if (this.messageToOption) {
                        this.messageToOption = null;
                        this.forwarding = false;
                        this.$refs.textMessage.value = '';
                    } else {
                        if (event)
                            this.currentChat = null;
						this.chattingWith=null;
						this.chatsAbove = [];
						this.lastChatAbove = null;
						this.lastChatAboveUser = null;
						this.chatsBellow = [];
						this.lastChatBellow = null;
						this.lastChatBellowUser = null;
                    }
				},
				getChatMessages: function(prepend, chat, append) {
                    if (!ps){
						// initializes pscroll if is not yet
                        var ps_container = document.querySelector('.messages-container').parentElement;
						ps_container.style.height = window.screen.availHeight - 330 + 'px';
						ps = new PerfectScrollbar(ps_container);
                    }

                    if(chat)
                        this.currentChat = chat;

                    if(this.forwarding && (!prepend && !append)) {
						$.ajax('{% url 'message-create-endpoint' %}', {
							method: 'post',
							data: {
								csrfmiddlewaretoken: csrftoken,
								forward_message: this.messageToOption.id,
								chat_id: this.currentChat.id,
							}
						}).done(() => {
							this.forwarding = false;
							this.messageToOption = null;
						}).fail(() => {
							this.forwarding = false;
							this.messageToOption = null;
						});
						return null;
                    }

                    if (!prepend && !append){
						// if forwarding or doing sth with some message just cancel it
						this.forwarding = false;
						this.messageToOption = null;
                    	this.clearChat();
                    }
                    this.currentChat = this._setChatUser(this.currentChat);
                    this.chattingWith = this.currentChat.user;
                    var chat_id = this.currentChat.id;
                    var older_than = null;
                    var last_message_id = null;
                    if (prepend)
                        older_than = this.chatsBellow[0][0].id;
                    if (append && this.chatsBellow.length > 0 && this.chatsBellow[this.chatsBellow.length - 1].length > 0){
                        var chatPart = this.chatsBellow[this.chatsBellow.length - 1];
                        last_message_id = chatPart[chatPart.length - 1].id;
                    }
                    $.ajax('{% url 'chat-detail-endpoint' %}', {
						method: 'post',
						data: {
							csrfmiddlewaretoken: csrftoken,
							ci: this.currentChat.id,
							older_than: older_than,
							lmi: last_message_id,
						}
					}).done((e) => {
					    // make sure the message is not created at all
						var currentFirstMessage = null;
						var currentSrollHeight = 0;
						if(prepend && this.chatsBellow[0] && this.chatsBellow[0][0]) {
								currentFirstMessage = this.chatsBellow[0][0];
								currentSrollHeight = ps.element.scrollHeight;
						}
					    for(const chatIndex in e.data.messages) {
							let found = false;
					        let message = e.data.messages[chatIndex];
					        if (!message)
					            continue;
					        // check if message exists in chatsAbove
					        for(const aboveIndex in this.chatsAbove) {
					            found = this.chatsAbove[aboveIndex].findIndex((el) => el.id === message.id) > -1;
					            if (found)
					                break;
							}

					        // check if message exists in chatsBellow
							if (!found)
								for(const bellowIndex in this.chatsBellow) {
									found = this.chatsBellow[bellowIndex].findIndex((el) => el.id === message.id) > -1;
									if (found)
										break;
								}
							// add message to chats bellow if does not exists
							if (!found) {
							    if(!prepend) {
									if(this.lastChatBellow == null || this.lastChatBellow.from_user.id !== message.from_user.id){
										this.chatsBellow.push([])
									}

									this.lastChatBellow = message;
									this.chatsBellow[this.chatsBellow.length - 1].push(message);
								} else {
							        if(this.chatsBellow[0][0] && this.chatsBellow[0][0].from_user.id !== message.from_user.id){
										this.chatsBellow.unshift([])
									}

									this.chatsBellow[0].unshift(message);
								}
							}
						}
                        if (this.chatsBellow.length > 0) {
                            var chatPart = this.chatsBellow[this.chatsBellow.length - 1];
                            this.lastChatBellow = chatPart[chatPart.length - 1];
                        }
                        if(currentFirstMessage) {
                            if (this.chatsBellow[0][0].id !== currentFirstMessage.id)
                            	setTimeout(() => {
                            	    ps.element.scrollBy(0, ps.element.scrollHeight - currentSrollHeight);
									setTimeout(() => {
									    this.autoOlder = false;
									}, 500);
								},200)
						}
					    ps.update();
                        if(this.wroteNewMessage) {
                            setTimeout(() => {
                                ps.element.scrollTop = 99999 * 4;
								this.wroteNewMessage = false;
							},150)
						}
                        if(e.data.messages && e.data.messages.length > 0 && append)
                            setTimeout(() => {
                                ps.element.scrollTop = 99999 * 4;
							},150);

                    });
                },
                printDate: function(d) {
                    return `${d[3]}:${d[4]}:${d[5]} ${d[0]}/${d[1]}/${d[2]} `;
                },
				sendMessage: function (e) {
                    if(e && e instanceof KeyboardEvent) {
                        if (!e.ctrlKey){
                            return;
                        }
						e.preventDefault();
                    }
                    var textInput = this.$refs['textMessage'];
                    var form_data = new FormData();
                    form_data.append('csrfmiddlewaretoken', csrftoken);
                    var message = textInput.value;
                    if(message.trim().length == 0 && this.$refs['file-to-send'].files.length == 0){
                        alert('پیام نمیتواند خالی باشد');
						return;
                    }
                    if (this.messageToOption) {
                        form_data.append('message_id', this.messageToOption.id);
						form_data.append('text', message);
                    } else {
                        var filesToSend =this.$refs['file-to-send'].files;
						if (this.$refs['file-to-send'].files.length)
						    for(var fileIndex in filesToSend) {
						        form_data.append('file['+fileIndex+']', filesToSend[fileIndex]);
                            }
						form_data.append('from_user', String(this.me.id));
						form_data.append('to_user', String(this.chattingWith.id));
						form_data.append('chat', String(this.currentChat.id));
						form_data.append('text', message);
                    }

					var endPoint = null;
					if (!this.messageToOption)
						endPoint = '{% url 'message-create-endpoint' %}';
					else
					    endPoint = '{% url 'message-update-endpoint' %}';
					$.ajax(endPoint, {
						method: 'post',
						data: form_data,
						enctype: 'multipart/form-data',
						contentType: false,
						processData: false,
					}).done((e) => {
					    if (e.ok) {
							this.wroteNewMessage = true;
					        if(this.messageToOption) {
								for(const bellowIndex in this.chatsBellow) {
									var found = this.chatsBellow[bellowIndex].findIndex((el) => el.id === this.messageToOption.id);
									if (found > -1)
										this.chatsBellow[bellowIndex][found].text = message;
								}
								this.messageToOption = null;
							} else {
								this.getChatMessages(false, null, true);
							}
							textInput.value= '';
							this.$refs['file-to-send'].value = '';
							this.files = 0;
						} else {
							alert('اطلاعات ارسال شده اشتباه است')
						}
					})
                },
                filePreview: function (message) {
                    if (message.file) {
						var file_address = message.file;
						var html = '';
						if (file_address.match('(.png|.jpg|.jpeg|.tiff)$')) {
							html = '<br><br><img style="max-width: 450px" src="' + message.file + '"/>';
						} else if (file_address.match('(.mkv|.mp4)$')) {
							html = '<br><br><video style="max-width: 450px" controls><source src="' + message.file + '" type="video/mp4"></video>';
						} else if (file_address.match('(.mp3)$')) {
							html = '<br><br><audio controls><source src="' + message.file + '" type="video/mp4"></audio>';
						}
						html += '<br><br><a download class="btn btn-primary btn-sm" href="' + message.file + '"> دانلود فایل </a>';
						return html;
					}
				},
				messageOptions: function(message) {
                    $('#modaldemo2').modal('show');
                    this.messageToOption = message;
                },
                deleteMessage: function() {
                    if(!confirm('آیا تمایل به حدف این پیام دارید ؟'))
                        return;
                    var url = '{% url 'message-delete-endpoint' pk=0 %}';
					url = url.substr(0, url.length - 1) + this.messageToOption.id;
					$.ajax(url, {
						method: 'post',
						data: {
							csrfmiddlewaretoken: csrftoken,
						}
					}).done( (e) =>  {
						if (e.ok) {
						    var messageElement = document.querySelector('[message_id="'+this.messageToOption.id+'"]');
						    if (messageElement)
						        messageElement.remove();
							for(const bellowIndex in this.chatsBellow) {
								var found = this.chatsBellow[bellowIndex].findIndex((el) => el.id === this.messageToOption.id);
								if (found > -1)
									this.chatsBellow[bellowIndex].splice(found,1)
							}
							if(this.chatsBellow.length == 1 && this.chatsBellow[0].length == 0)
							    this.chatsBellow = [];
							$('#modaldemo2').modal('hide');
							this.messageToOption = null;
						} else {
							alert('مشکلی رخ داد');
						}
					});
                },
				editMessageView: function() {
                    this.$refs.textMessage.value = this.messageToOption.text;
                    $('#modaldemo2').modal('hide');
				},
				forwardingMessage: function() {
                    this.forwarding = true;
                    $('#modaldemo2').modal('hide');
				},
            }
        });
        $(document).keyup((e) => {
            if(e.key == "Escape")
                app.clearChat(e);
        });

	</script>
{% endblock %}